:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --header-bg-color: #fff;
    --column-bg-color: #fff;
    --column-shadow-color: rgba(0, 0, 0, 0.1);
    --icon-color: #333;
}

body.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #fff;
    --header-bg-color: #2c2c2c;
    --column-bg-color: #333;
    --column-shadow-color: rgba(255, 255, 255, 0.1);
    --icon-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    max-width: 1050px;
    margin: 0 auto;
    padding: 0;
    line-height: 1.6;
    overflow-y: scroll;
}

header {
    text-align: center;
    padding: 0;
}

header h1 {
    font-size: 2.5em;
    font-weight: lighter;
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.contact-icons .home-icon img,
.contact-icons .contact-icon img,
.contact-icons .theme-toggle img {
    width: 24px;
    height: 24px;
    transition: filter 0.3s;
}

.contact-icons .home-icon img[src$=".svg"],
.contact-icons .contact-icon img[src$=".svg"],
.contact-icons .theme-toggle img[src$=".svg"] {
    filter: none;
}

body.dark-mode .contact-icons .home-icon img[src$=".svg"],
body.dark-mode .contact-icons .contact-icon img[src$=".svg"],
body.dark-mode .contact-icons .theme-toggle img[src$=".svg"] {
    filter: invert(100%);
}

.right-icons {
    display: flex;
    gap: 15px;
}

hr {
    margin: 0px 10% 20px;
    border: none;
    border-top: 1px solid #919191;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 10%;
}

.typewriter {
    font-family: 'Typewriter', monospace;
    font-size: 44px;
}

.column {
    display: flex;
    flex-direction: row;
    background-color: var(--column-bg-color);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--column-shadow-color);
}

.column a img {
    width: 100%; /*确保图片的宽度占满容器*/
    height: auto; /*维持图片的高度自动，确保比例正确 */
    max-width: 500px;
    margin-right: 20px;
    border-radius: 8px;
    object-fit: contain;/* 确保图片内容保持等比例缩放 */
}

.column a img[src$=".svg"] {
    fill: var(--icon-color);
    transition: fill 0.3s;
}

.column .description {
    flex: 1;
}

.column .description h2 {
    font-size: 1.5em;
    margin-top: 0px;
}

.column .description p {
    font-size: 1em;
}

.context {
    background-color: var(--column-bg-color);
    padding: 20px;
    margin: 2% ;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--column-shadow-color);
}

.post-item {
    display: flex;
    padding-top: 5px;
    padding-bottom: 6px;
    justify-content: space-between;
    flex-direction: row;
    align-items:center
}

.post-item .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    letter-spacing:.1px
}

.post-item .post-item-title a {
    color:#333;
    transition:all 150ms ease-in 0s;
    text-decoration: none;
}

.post-item .post-item-title a:hover, .post-item .post-item-title afocus {
    color:#3498db;
}

.copyright {
    margin-top: 5%;
    text-align: center;
    color: #919191;
}

@media (max-width: 900px) {
    main {
        padding: 0 5%;
    }
    .contact-icons {
        margin: 0 auto;
    }
    hr {
        margin: 0px 10% 20px;
        border: none;
        border-top: 1px solid #919191;
    }
    
    .column {
        flex-direction: column;
    }
    .column a img {
        max-width: 100%;
        margin-right: 0;
        margin-bottom: 10px;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0 2%;
    }
    .contact-icons {
        justify-content: space-between;
        margin: 0 auto;
    }
    hr {
        margin: 0px 10% 20px;
        border: none;
        border-top: 1px solid #919191;
    }
    header h1 {
        font-size: 1.8em;
        font-weight: lighter;
    }
    .column {
        padding: 10px;
    }
    .column .description {
        margin-top: 10px;
    }
    .column .description h2 {
        font-size: 1.2em;
    }
    .column .description p {
        font-size: 0.9em;
    }   
}

@font-face {
    font-family: 'Typewriter';
    src: url('fonts/Bohemian-Typewriter-1.ttf');
}