:root {
    --bg-color: #f9f9f9;
    --text-color: #333;
    --header-bg-color: #fff;
    --column-bg-color: #fff;
    --column-shadow-color: rgba(0, 0, 0, 0.1);
    --icon-color: #333;
}

body.dark-mode {
    --bg-color: #1e1e1e;
    --text-color: #fff;
    --header-bg-color: #2c2c2c;
    --column-bg-color: #333;
    --column-shadow-color: rgba(255, 255, 255, 0.1);
    --icon-color: #fff;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    /* max-width: 1050px; */
    margin: 0;
    padding: 0;
    line-height: 1.6;
    overflow-y: scroll;
}

header {
    text-align: center;
    padding: 0.5rem;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 60%;
}

.contact-icons .home-icon img,
.contact-icons .contact-icon img,
.contact-icons .about-icon img,
.contact-icons .theme-toggle img {
    width: 28px;
    height: 28px;
    /* transition: filter 0.3s; */
}

.contact-icons .home-icon img[src$=".svg"],
.contact-icons .contact-icon img[src$=".svg"],
.contact-icons .about-icon img[src$=".svg"],
.contact-icons .theme-toggle img[src$=".svg"] {
    filter: none;
}

body.dark-mode .contact-icons .home-icon img[src$=".svg"],
body.dark-mode .contact-icons .contact-icon img[src$=".svg"],
body.dark-mode .contact-icons .about-icon img[src$=".svg"],
body.dark-mode .contact-icons .theme-toggle img[src$=".svg"] {
    filter: invert(100%);
}

.right-icons {
    display: flex;
    gap: 15px;
}

hr {
    margin: 0px 20% 20px;
    border: none;
    border-top: 1px solid #919191;
}

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20%;
    max-width: 660px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.article-list {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.article-item {
    padding: 10px;
    /* border-bottom: 1px solid #ccc;  */
}

.article-title {
    font-size: 1.5rem;
    margin: 0;
}

.article-time {
    font-size: 1rem;
    color: #777;
    margin-top: 5px;
}

a {
    color: var(--text-color);
    /* transition:all 150ms ease-in 0s; */
    text-decoration: none;
}

a:hover,
a:focus {
    color:#3498db;
} 

p {
    font-size: 18px;
}

.typewriter {
    font-family: 'Typewriter', monospace;
}

.copyright {
    margin-top: 5%;
    text-align: center;
    color: #919191;
}

@media (max-width: 900px) {
    main {
        padding: 0 20%;
    }
    .contact-icons {
        margin: 0 auto;
    }
    hr {
        margin: 0px 20% 20px;
        border: none;
        border-top: 1px solid #919191;
    }
}

@media (max-width: 480px) {
    main {
        padding: 0 2%;
    }
    .contact-icons {
        justify-content: space-between;
        margin: 0 auto;
    }
    hr {
        margin: 0px 0% 20px;
        border: none;
        border-top: 1px solid #919191;
    }  
}

@font-face {
    font-family: 'Typewriter';
    src: url('fonts/Bohemian-Typewriter-1.ttf');
}